{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2 class="mb-4">My Projects</h2>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ project.image.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description|truncatewords:20 }}</p>
                {% if project.link %}
                <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View Project</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
<div class="col-md-4 mb-4" data-aos="fade-up">
    <div class="card h-100" data-aos="zoom-in">
        <img src="{{ project.image.url }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description|truncatewords:20 }}</p>
            {% if project.link %}
            <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View Project</a>
            {% endif %}
        </div>
    </div>
</div>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% for project in projects %}
    <div class="project">
        <img src="{{ project.image.url }}" class="jump-image" alt="{{ project.title }}">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
    </div>
{% endfor %}

